*{
    /* border: 1px rgb(55, 255, 82) solid; */
    margin: 0;
    padding: 0;
}

/* Cambiar el fondo de toda la pantalla */
html {
    background-color: #023047;
    background-size: 100% 100%; /*x ; y*/
    background-attachment: fixed; /* Para mantener fijo el fondo, sin esto se crashea cuando se usa 100% */
}

main {
    margin: 0%;
    padding: 0%;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0%;
    background-color: rgb(8, 104, 8);
    text-align: center;
    color: honeydew;
    font-family: 'Arial';
    font-size: 2rem;
    margin-top: 10%;
    padding: 1.2rem;
}

h1 {
    text-align: center;
    color: #023047;
    font-size: 3.5rem;
    font-family:'Spartan';
    font-weight: 1000;
    margin-bottom: 5%;
    background-color: #fffffc;
    border-radius: 20px 100px;
    margin-left: 30%;
    width: 40%;
}


/*Modificar los links*/
a {
    font-family: 'Coustard';
    font-size: 1.2rem;
}

a:link {
    color: brown;
}

a:visited {
    color: rgb(16, 124, 16);
}

a:hover {
    color: black;
    background-color: #fff;
    padding: 0 20px;
}

/* Acomodar las clases */
.flexito {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* border: 3px white solid; */

}

.mercado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 30%;
    /* border: 2px green solid; */
    /* margin: 40px; */
    padding: 20px;
    background-color: burlywood;
}

.fotos {
    width: 50%;
    height: 150px;
}

.t_categoria {
    font-family: 'Coustard';
    font-weight: 800;
    font-size: 1.5rem;
    font-style: italic;
}